on:
  # Dependabot branches are already built by the pull-request flow since
  # dependabot will always open a corresponding PR.
  push:
    branches-ignore:
      - dependabot/**
  pull_request:

name: ci-linux

jobs:
  build_and_test:
    name: xed-rs
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2019]
        toolchain: [stable, beta]
        experimental: [false]
        include:
          - toolchain: nightly
            experimental: true
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
